{% extends "layout.html" %}

{% block page_title %}
Select a charge type
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-large">Which law relates to your charge?</h1>
			<div class="browse-pane">
				<div class="column-third control">
					<ul>
						<li>Industry</a></li>
						<li>Infrastructure</a></li>
						<li>Buildings</a></li>
						<li>Conservation</a></li>
						<li>Health and safety</a></li>
						<li>Financial</a></li>
						<li>Social</a></li>
						<li>Environment</a></li>
					</ul>
				</div>
				<div class="column-two-thirds result">
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}


