{% extends "layout.html" %}

{% block page_title %}
Select a charge type
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Which law relates to your charge?</h1>
			<div class="browse-pane">
				<div class="column-half control">
					<ul>
						<li><a href="industry">Industry</a></li>
						<li><a href="infrastructure">Infrastructure</a></li>
						<li><a href="buildings">Buildings</a></li>
						<li><a href="conservation">Conservation</a></li>
						<li><a href="health-and-safety">Health and safety</a></li>
						<li><a href="financial">Financial</a></li>
						<li><a href="social">Social</a></li>
						<li><a href="environment">Environment</a></li>
					</ul>
				</div>
				<div class="column-half result_1">
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}


