{% extends "layout.html" %}

{% block page_title %}
View charge details
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-full">
			<p><a href="map-results">Back to search results</a></p>
			<h1 class="heading-large">Charge ID LR-ABC12345</h1>
			<img src="{{ asset_path }}images/address_1.png" width="100%" height="auto">
			<table class="charge-details">

				<thead>
					<tr>
						<th colspan="2">
						</th>
						<th>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							Charge type
						</td>
						<td>
							Specific fincncial<br>
						</td>
						<td class="change-answer">
							<a id="edit" href="#">
								Change <span class="visuallyhidden">Charge type</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Legislation
						</td>
						<td>
							s.107 Building Act 1984
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Legislation</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Location<br><br><br><br><br>
						</td>
						<td>
							<adress>29 Exeter Road<br>Plymouth<br>PL6 1AA</address><br><br>
							Area behind the property
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Location</span>
							</a><br><br><br><br><br>
						</td>
					</tr>
					<tr>
						<td>
							Further information<br><br>
							Reference
						</td>
						<td>
							<a href="http://www.plymouth.gov.uk/">http://www.plymouth.gov.uk</a><br><br>
							ABC1234
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Further information and reference</span>
							</a><br><br><br>
						</td>
					</tr>
					<tr>
						<td>
							Originating authority
						</td>
						<td>
							Plymouth City Council
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Originating authority</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Source of charge<br><br>
							Start date
						</td>
						<td>
							Notice<br><br>
							20 December 2000
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Source of charge and start date</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Date of registration
						</td>
						<td>
							20 December 2000
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Date of registration</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Expiry
						</td>
						<td>
							Not available
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Expiry</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Retained land description
						</td>
						<td>
							Not available
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Retained land description</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Particulars of acquired land
						</td>
						<td>
							Not available
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Particulars of acquired land</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Particulars of relevant interest
						</td>
						<td>
							Not available
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Particulars of relevant interest</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Compensation
						</td>
						<td>
							£20,000.00
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Compensation</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Amount
						</td>
						<td>
							£20,000.00
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Amount</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Rate of interest
						</td>
						<td>
							2%
						</td>
						<td class="change-answer">
							<a class="edit" href="#">
								Change <span class="visuallyhidden">Rate of interest</span>
							</a>
						</td>
					</tr>

				</tbody>
			</table>

			<p></p>
		</div>
	</div>
</main>


{% endblock %}


